<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perpustakaan FKOM - UNIKU</title>
</head>

<body>
    <aside>
        <ul>
            <li><a href="../Components/Content.html" target="content">Home</a></li>
            <li><a href="../Members/Index.html" target="content">Data Anggota</a></li>
            <li><a href="../Books/Index.html" target="content">Data Buku</a></li>
        </ul>
    </aside>
</body>

</html>