<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perpustakaan FKOM - UNIKU</title>
</head>

<body>
    <aside>
        <ul type="none">
            <li>Berita</li>
            <li>&raquo; Tahun 2022</li>
            <ul type="none">
                <li>&raquo;Agustus</li>
                <li>&raquo;September</li>
            </ul>
            <li>&laquo; Tahun 2021</li>
        </ul>
    </aside>
</body>

</html>